body {
	background-color:#f2f2f2;
	font-family: 'Play', sans-serif;
	min-width:960px;
	margin:0;
	}
#content {
	padding-bottom:30px;
	margin:auto;
	width: 80%;
	
	}
/* Legend */
#networkLegend_container {
    position: relative;
    margin: auto;
    width: 500px;
    height: 80px;
	padding-top: 10px;
   }
      
#networkLegend_frame {
    border: 1px solid gray; 
    padding: 10px; 
    border-radius: 6px;
    left:30px;
   }
.navbar {
	display:block;
	height:51px;
	box-shadow: 0 1px 5px;
	background-color:#2A2A2A;
	margin-bottom:40px;
	width:100%;
	}
	ul.nav {
	float:right;
	list-style:none;
	}
	ul {
	font-size:19px;
	}
	.nav a {
		color: white;
		text-decoration: none;
		padding-right: 30px;
		}
	.nav a:hover{
		color: darkorange;
		}
	/*Footer*/
.contact-footer {
	background-color:#2A2A2A;
	color:white;
	padding-bottom:10px;
	padding-top:25px;
	}
.contact-footer p {
	font-size:12px;
	color:white;
	}

.knetminer-logo {
	text-align:center;
	display:block;
	margin-left:auto;
	margin-right:auto;
	
	}
#text-logo {
	text-align:center;
	}