body {
	background-color:#f2f2f2;
	font-family: 'Play', sans-serif;
	min-width:960px;
	margin:0;
	}
#content {
	padding-bottom:30px;
	margin:auto;
	width: 80%;
	
	}
/* Legend */
#networkLegend_container {
    position: relative;
    margin: auto;
    width: 500px;
    height: 80px;
	padding-top: 10px;
   }
      
#dataset-description { 
    width: 95%;
	border: 1px dashed grey;
	font-size:18px;
   }

#dataset-desc { 
    margin-top: 0px;
	padding-top: 10px;
	display: inline-block;
   }

   #networkLegend_frame {
    border: 1px solid gray; 
    padding: 10px; 
    border-radius: 6px;
    left:30px;
   }
.navbar {
	display:block;
	height:51px;
	box-shadow: 0 1px 5px;
	background-color:#2A2A2A;
	margin-bottom:40px;
	width:100%;
	}
	ul.nav {
	float:right;
	list-style:none;
	}
	ul {
	font-size:19px;
	}
	.nav a {
		color: white;
		text-decoration: none;
		padding-right: 30px;
		}
	.nav a:hover{
		color: darkorange;
		}
	/*Footer*/
.contact-footer {
	background-color:#2A2A2A;
	color:white;
	padding-top:5px;
	padding-bottom:5px;
	width:100%;
	}
.left-footer {
	float:left;
	width:30%;
	display:inline;
	}
.center-footer {
	float:left;
	width:40%;
	display:inline;
	text-align:center;
	}
.right-footer {
	float:right;
	width:28%;
	display:inline;
	padding-bottom:5px;
	}

.knetminer-logo {
	text-align:center;
	display:block;
	margin-left:auto;
	margin-right:auto;
	}
#footer-text {
	text-align:center;
	}
#footer-text-sub {
	font-size:15px;
	text-align:center;
	}
.logos {
	padding-left:10px;
	}
	